<!DOCTYPE html>
<html>
<head>
    <title>CyberShield</title>
</head>
<body>

{% extends "base.html" %}

{% block content %}

<div style="text-align:center; margin-bottom:50px;">
    <h1>CyberShield Security Toolkit</h1>
    <p>Phishing Detection & Secure File Encryption Platform</p>
</div>

<div class="grid">

    <div class="card">
        <h3>🔐 Encrypt Files</h3>
        <p>Protect sensitive files using AES encryption.</p>
        <br>
        <a href="/encrypt" class="btn">Go to Encryption</a>
    </div>

    <div class="card">
        <h3>🔓 Decrypt Files</h3>
        <p>Restore encrypted files using your secret key.</p>
        <br>
        <a href="/decrypt" class="btn">Go to Decryption</a>
    </div>

    <div class="card">
        <h3>🛡 Phishing Detection</h3>
        <p>Analyze suspicious URLs using heuristic scoring.</p>
        <br>
        <a href="/phishing" class="btn">Check URL</a>
    </div>

</div>

{% endblock %}
</body>
</html>