<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CyberShield</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='cybershield.css') }}">
</head>
<body>

<div>
    <nav>
        <a class="navbar" href="/">CyberShield</a>

    </nav>
</div>
<div>
    <h2 class="page-title">🔐 Welcome to CyberShield</h2>

    <div class="form-container">
        <div class="card" style="max-width:400px; margin:0 auto;">

            <form method="POST" action="/login">

                <label>Username</label>
                <input type="text" name="username" placeholder="Enter your username" required>

                <label>Password</label>
                <input class="form-control" type="password" name="password" placeholder="Enter your password" required>

                <button type="submit" class="btn">Login</button>
            </form>

        </div>
    </div>
</div>
    
</body>
</html>