{% extends "base.html" %}

{% block content %}

<h2 class="page-title">🛡 Phishing URL Detector</h2>

<div class="form-container" >
    <div class="card">
        <form method="POST" action="/analyze">

            <label>Enter URL</label>
            <input type="text" name="url" placeholder="https://example.com" required>

            <button type="submit" class="btn" style="font-weight: 700; padding: 14px;">Analyze URL</button>
            
            <a href="/home" class="btn" style="margin-top: 10px;">Back to Home</a>
        </form>

        {% if result %}
            <div class="result-box 
                {% if result == 'Safe' %}safe
                {% elif result == 'Suspicious' %}suspicious
                {% else %}phishing
                {% endif %}
            ">
                Result: {{ result }}
            </div>
        {% endif %}

    </div>
</div>

{% endblock %}